body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #363636;
    background-image: url(Captura\ de\ pantalla\ 2025-01-04\ 220010.png);
    
}

header {
    background: #262626;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 1em;
    text-decoration: none;
}

main section {
    padding: 2.5em;
    color: #fff;
}

body main section li a {
    color:#fff;
}

body main section b {
    color:#e0e0e0;
    background-color: #c2c2c239;
    font-size: 300px;
}


footer {
    text-align: center;
    background: #434343;
    color: #fff;
    padding: 1em 0em;
    bottom: 0;
    width:100%;
    position: fixed;
}

body header nav {
    background: #5959597d;
    text-align: center;
    padding: 1em 0em;
    width: 100%;
    position: fixed;
    margin: 1em 0em;
}

/*Developers*/
body main article{
    padding: 2em;
    color: #fff;
}

body main article h2{
    font-size: 30px;
}

body main article p{
    font-size: 20px;
}

